* {
    margin: 0;
    padding: 0;
}
.clear {
    height: 10px;
    clear: both;
}
.main {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}
.top {
    width: 1000px;
    height: 50px;
    background: url("../../imgs/menuBg.jpg") repeat-x;
}
.top_left {
    width: 390px;
    height: 50px;
    padding-top: 5px;
    float: left;
}
.top_left img {
    float: left;
}
.shouye {
    margin-top: 5px;
    margin-left: 21px;
    width: 100px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: #cb3333;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    float: left;
}
.shouye a {
    color: #cb3333;
}
.top_right {
    width: 175px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: white;
    float: right;
    padding: 15px 30px 0 0;
}
.top_right a {
    width: 34px;
    height: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 2px;
}
.top_right a:hover {
    text-decoration: underline;
}
.middle {
    width: 1000px;
    height: 234px;
}
.middle_left {
    width: 190px;
    height: 232px;
    margin-right: 10px;
    float: left;
    border: 1px solid #cccccc;
}
.middle_left a {
    display: block;
    height: 27px;
    line-height: 30px;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    padding-top: 2px;
    background: url("../../imgs/gameBg1.jpg");
}
.middle_left a:hover {
    color: #FFFFFF;
    background: url("../../imgs/gameBg2.jpg");
}
.middle_left img {
    vertical-align: middle;
    padding: 0 10px 0 8px;
}
.middle_center {
    width: 520px;
    height: 232px;
    float: left;
    border: 1px solid #cccccc;
}
.middle_center img {
    width: 517px;
    height: 226px;
}
.middle_right {
    width: 260px;
    height: 232px;
    background: #f3f3f3;
    float: right;
    border: 1px solid #cccccc;
}
.middle_right p {
    font-size: 14px;
    color: #767373;
    font-weight: bold;
    padding: 20px 0 25px 20px;
}
.middle_right li {
    width: 240px;
    height: 35px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 35px;
    float: left;
    list-style: none;
}
.middle_right li input {
    width: 150px;
    height: 20px;
}
.middle_right dt {
    width: 63px;
    height: 24px;
    display: block;
    float: left;
    padding: 10px 0 0 65px;
}
.middle_right dt input {
    width: 63px;
    height: 24px;
    border: 0;
    background: url("../../imgs/btnLogin.jpg") no-repeat;
}
.middle_right dt input:hover {
    cursor: pointer;
}
.middle_right dd {
    width: 48px;
    height: 40px;
    padding-left: 30px;
    display: block;
    font-size: 12px;
    line-height: 20px;
    float: left;
}
.middle_right a {
    color: #2b62a5;
    text-decoration: none;
}
.middle_right a:hover {
    text-decoration: underline;
}
.bottom {
    width: 1000px;
    height: 659px;
}
.bottom_left {
    width: 722px;
    height: 659px;
    float: left;
    border: 1px solid #cccccc;
}
.bottom_left_top_title {
    width: 722px;
    height: 28px;
    background: url("../../imgs/titleBg.jpg") repeat-x;
}
.bottom_left_top_title dt {
    padding-left: 10px;
    padding-right: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #7d0808;
    line-height: 28px;
    float: left;
}
.bottom_left_top_title dd {
    font-size: 14px;
    color: #cccccc;
    line-height: 28px;
    float: left;
    padding: 0 5px;
}
.bottom_left_top_title a {
    color: #666666;
}
.all_games {
    width: 672px;
    height: 157px;
    padding: 25px;
    border-bottom: 1px solid #cccccc;
}
.all_games dt {
    width: 320px;
    height: 155px;
    float: left;
    font-size: 12px;
    line-height: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
    border: 1px solid #cccccc;
}
.all_games a {
    font-size: 14px;
    color: #a70a0a;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
}
.all_games_img {
    float: left;
    margin: 5px;
}
.all_games a {
    font-size: 14px;
    color: #a70a0a;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
}
.all_games a:hover {
    text-decoration: underline;
}
.all_games dt {
    width: 320px;
    height: 155px;
    float: left;
    font-size: 12px;
    line-height: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
    border: 1px solid #cccccc;
}
.all_games dd {
    width: 320px;
    height: 155px;
    float: left;
    font-size: 12px;
    line-height: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
    border: 1px solid #cccccc;
}
.all_games span {
    color: #a70a0a;
}
.left_title {
    width: 722px;
    height: 28px;
    margin-bottom: 10px;
    background: url("../../imgs/titleBg.jpg") repeat-x;
}
.all_title {
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #7d0808;
    line-height: 28px;
}
.role_playing_games {
    width: 680px;
    height: 380px;
    margin-top: 5px;
    margin-left: 21px;
}
.role_playing li {
    width: 170px;
    height: 190px;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
    float: left;
    list-style: none;
}
.role_playing li img {
    margin: 0 auto;
}
.role_playing h1 {
    color: #a70a0a;
    font-size: 14px;
    line-height: 30px;
}
.role_playing a {
    color: #a70a0a;
    text-decoration: none;
}
.role_playing a:hover {
    text-decoration: underline;
}
.role_playing p {
    font-size: 12px;
    line-height: 20px;
}
.role_playing li img {
    margin: 0 auto;
}
.bottom_right {
    width: 262px;
    height: 656px;
    float: right;
}
.bottom_right_top {
    width: 260px;
    height: 383px;
    float: right;
    border: 1px solid #cccccc;
}
.right_title {
    width: 260px;
    height: 28px;
    margin-bottom: 10px;
    background: url("../../imgs/titleBg.jpg") repeat-x;
}
.games_ad ul {
    width: 247px;
    height: 335px;
    margin: 0 auto;
}
.games_ad li {
    height: 27px;
    padding-left: 45px;
    color: #4d4646;
    font-size: 12px;
    line-height: 27px;
    font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
    float: left;
    list-style: none;
    background: url("../../imgs/btn-04.gif") 2px 5px no-repeat;
    border-bottom: 1px dashed #cccccc;
}
.games_ad li a {
    color: #4d4646;
    text-decoration: none;
}
.games_ad li a:hover {
    text-decoration: underline;
}
#no_border {
    border-width: 0;
}
.bottom_right_bottom {
    width: 260px;
    height: 259px;
    float: right;
    border: 1px solid #cccccc;
}
.right_title {
    width: 260px;
    height: 28px;
    margin-bottom: 10px;
    background: url("../../imgs/titleBg.jpg") repeat-x;
}
.games_video {
    padding-top: 10px;
    width: 260px;
    height: 220px;
}
.games_video dl {
    width: 247px;
    height: 211px;
    margin: 0 auto;
}
.games_video dt {
    width: 247px;
    height: 85px;
    padding: 10px 0;
    border-bottom: 1px dashed #cccccc;
}
.games_video a {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
    color: #2b62a5;
    line-height: 20px;
    text-decoration: none;
}
.games_video a:hover {
    text-decoration: underline;
}
.games_video img {
    padding-right: 10px;
    float: left;
}
.games_video dd {
    width: 247px;
    height: 85px;
    padding: 10px 0;
}
.footer {
    width: 1000px;
    height: 35px;
    font-size: 12px;
    line-height: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
}
.footer_left {
    float: left;
}
.footer_left li {
    list-style: none;
    padding-right: 15px;
    float: left;
}
.footer_left a {
    color: #2b62a5;
    text-decoration: none;
}
.footer_left a:hover {
    text-decoration: underline;
}
.footer_right {
    float: right;
}
.footer_right li {
    list-style: none;
    color: #666666;
    padding-right: 15px;
    float: left;
}
#no_padding {
    padding: 0;
}