* {
    margin: 0px;
    padding: 0px;
}
.main {
    width: 1002px;
    height: 1000px;
    margin: 0px auto;
}
.top {
    width: 1000px;
    height: 50px;
    background: url("../../imgs/menuBg.jpg") repeat-x;
}
.top_left {
    width: 390px;
    height: 50px;
    padding-top: 5px;
    float: left;
}
.top_left img {
    float: left;
}
.shouye {
    margin-top: 5px;
    margin-left: 21px;
    width: 100px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: rgb(203, 51, 51);
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    float: left;
}
.top_right {
    width: 175px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: white;
    float: right;
    padding: 15px 30px 0px 0px;
}
.top_right a {
    width: 34px;
    height: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0px 2px;
}
.clear {
    height: 10px;
    clear: both;
}
.middle {
    width: 1000px;
    height: 234px;
}
.middle_left {
    width: 190px;
    height: 232px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin-right: 10px;
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}
.middle_left a {
    display: block;
    height: 27px;
    line-height: 30px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-top: 2px;
    background: url("../../imgs/gameBg1.jpg");
}
.middle_left img {
    vertical-align: middle;
    padding: 0px 10px 0px 8px;
}
.middle_left a {
    display: block;
    height: 27px;
    line-height: 30px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-top: 2px;
    background: url("../../imgs/gameBg1.jpg");
}
.middle_center {
    width: 520px;
    height: 232px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}
.middle_center img {
    width: 517px;
    height: 226px;
}
.middle_right {
    width: 260px;
    height: 232px;
    background-color: rgb(243, 243, 243);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    float: right;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}
.middle_right p {
    font-size: 14px;
    color: rgb(118, 115, 115);
    font-weight: bold;
    padding: 20px 0px 25px 20px;
}
.middle_right li {
    width: 240px;
    height: 35px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 35px;
    float: left;
    list-style: none;
}
.middle_right li input {
    width: 150px;
    height: 20px;
}
.middle_right li input {
    width: 150px;
    height: 20px;
}
.middle_right dt {
    width: 63px;
    height: 24px;
    display: block;
    float: left;
    padding: 10px 0px 0px 65px;
}
.middle_right dt input {
    width: 63px;
    height: 24px;
}
.middle_right dd {
    width: 48px;
    height: 40px;
    padding-left: 30px;
    display: block;
    font-size: 12px;
    line-height: 20px;
    float: left;
}
.middle_right a {
    color: rgb(43, 98, 165);
    text-decoration: none;
}
.bottom {
    width: 1000px;
    height: 659px;
}
.bottom_left {
    width: 722px;
    height: 659px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}
.bottom_left_top_title {
    width: 722px;
    height: 28px;
    background: url("../../imgs/titleBg.jpg") repeat-x;
}
.bottom_left_top_title dt {
    padding-left: 10px;
    padding-right: 30px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(125, 8, 8);
    line-height: 28px;
    float: left;
}
.bottom_left_top_title dd {
    font-size: 14px;
    color: rgb(204, 204, 204);
    line-height: 28px;
    float: left;
    padding: 0px 5px;
}
.bottom_left_top_title a {
    color: rgb(102, 102, 102);
}
.all_games {
    width: 672px;
    height: 157px;
    padding: 25px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.all_games dt {
    width: 320px;
    height: 155px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    float: left;
    font-size: 12px;
    line-height: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}
.all_games a {
    font-size: 14px;
    color: rgb(167, 10, 10);
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
}
.all_games_img {
    float: left;
    margin: 5px;
}
.all_games a {
    font-size: 14px;
    color: rgb(167, 10, 10);
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
}
.all_games dt {
    width: 320px;
    height: 155px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    float: left;
    font-size: 12px;
    line-height: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}
.all_games dt {
    width: 320px;
    height: 155px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    float: left;
    font-size: 12px;
    line-height: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}
.all_games span {
    color: rgb(167, 10, 10);
}
.left_title {
    width: 722px;
    height: 28px;
    margin-bottom: 10px;
    background: url("../../imgs/titleBg.jpg") repeat-x;
}
.all_title {
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(125, 8, 8);
    line-height: 28px;
}
.role_playing_games {
    width: 680px;
    height: 380px;
    margin-top: 5px;
    margin-left: 21px;
}
.role_playing li {
    width: 170px;
    height: 190px;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
    float: left;
    list-style: none;
}
.role_playing li img {
    margin: 0px auto;
}
.role_playing h1 {
    color: rgb(167, 10, 10);
    font-size: 14px;
    line-height: 30px;
}
.role_playing a {
    color: rgb(167, 10, 10);
    text-decoration: none;
}
.role_playing p {
    font-size: 12px;
    line-height: 20px;
}
.role_playing li img {
    margin: 0px auto;
}
.bottom_right {
    width: 262px;
    height: 656px;
    float: right;
}
.bottom_right_top {
    width: 260px;
    height: 383px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    float: right;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}
.right_title {
    width: 260px;
    height: 28px;
    margin-bottom: 10px;
    background: url("../../imgs/titleBg.jpg") repeat-x;
}
.all_title {
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(125, 8, 8);
    line-height: 28px;
}
.games_ad ul {
    width: 247px;
    height: 335px;
    margin: 0px auto;
}
.games_ad li {
    height: 27px;
    padding-left: 45px;
    color: rgb(77, 70, 70);
    font-size: 12px;
    line-height: 27px;
    font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
    float: left;
    list-style: none;
    background: url("../../imgs/btn-04.gif") 2px 5px no-repeat;
    border-bottom: 1px dashed rgb(204, 204, 204);
}
.games_ad li a {
    color: rgb(77, 70, 70);
    text-decoration: none;
}
#no_border {
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
}
.games_ad li a {
    color: rgb(77, 70, 70);
    text-decoration: none;
}
.bottom_right_bottom {
    width: 260px;
    height: 259px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    float: right;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}
.right_title {
    width: 260px;
    height: 28px;
    margin-bottom: 10px;
    background: url("../../imgs/titleBg.jpg") repeat-x;
}
.all_title {
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(125, 8, 8);
    line-height: 28px;
}
.games_video {
    padding-top: 10px;
    width: 260px;
    height: 220px;
}
.games_video dl {
    width: 247px;
    height: 211px;
    margin: 0px auto;
}
.games_video dt {
    width: 247px;
    height: 85px;
    padding: 10px 0px;
    border-bottom: 1px dashed rgb(204, 204, 204);
}
.games_video a {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;
    color: rgb(43, 98, 165);
    line-height: 20px;
    text-decoration: none;
}
.games_video img {
    padding-right: 10px;
    float: left;
}
.games_video dd {
    width: 247px;
    height: 85px;
    padding: 10px 0px;
}

