* {
    margin:0;
    padding:0;
}
.cf {
    zoom: 1;
}
.cf:after {
    content:'';
    display: table;
    clear: both;
}
.menu_bg {
    margin:0 auto;
    height:47px;
    width: 1000px;
    background-image: url("../imgs/menuBg.jpg");
    background-repeat:repeat-x;
    padding-top: 3px ;
    margin-bottom: 10px;
}
.game_logo {
    height: 50px;
    width: 247px;
    float: left;
}
.first_page {
    background-image: url("../imgs/btn-01.gif");
    width: 100px;
    height: 47px;
    float: left;
    position: relative;
    top: 7px;
    left:0;
    line-height:40px;
    font-weight: bold;
    text-align: center;
}
.first_page a {
    text-decoration: none;
    color: red;
}
.menu_bg ul {
    float: right;
    list-style-type: none;
    margin-right: 25px;
    padding-top: 18px;
}
.menu_bg ul li {
    float: left;
    height: 12px;
    width: 50px;
    font-size: 12px;
    color: white;
    text-align: center;
}
.li_border {
    border-right: 1px white solid;
}
.menu_bg ul li a {
    color: white;
    text-decoration: none;
}
.menu_bg ul li a:hover {
    text-decoration: underline;
}
.body {
    margin:0 auto;
    width: 1000px;
}
.body_left {
    width: 717px;
    float: left;
}
.body_left_top {
    height: 232px;
    width: 717px;
    margin-bottom:10px;
}
.body_left_top_list {
    height: 232px;
    width: 190px;
    background-color: blue;
    float: left;
    background-image: url("../imgs/gameBg1.jpg");
    background-repeat:repeat-y;
    border: 1px #CCCCCC solid;
}

.body_left_top_list li {
    display: inline-block;
    height:29px;
    width:180px;
    font-size: 12px;
    list-style: none;
    padding-left: 10px;
}
.body_left_top_list span {
    position:relative;
    top:9px;
}
.body_left_top_list li:hover {
    background-image: url("../imgs/gameBg2.jpg");
}

.body_left_top_img {
    width: 517px;
    float: right;
    height: 232px;
    border: 1px #CCCCCC solid;
}
.body_left_bottom {
    width: 717px;
    margin:0 auto;
    float: left;
    border:1px #CCCCCC solid;
}
.body_left_bottom_1 {
width: 717px;
    height: 22px;
    background-image: url("../imgs/titleBg.jpg");
    background-repeat:repeat-x;
    padding-top: 8px;
}
.body_left_bottom_1 dt {
    font-weight:bold;
}
.body_left_bottom_1 dt,dd {
    font-size: 14px;
    height: 14px;
    width: 100px;
    line-height: 14px;
    text-align: center;
    float:left;
}
.body_left_bottom_1_dl_border {
    border-left:1px #CCCCCC solid;
}
.body_left_bottom_1 dd a {
    color: gray;
}
.body_left_bottom_2 {
    height: 135px;
    width: 657px;
    padding:30px;
}
.body_left_bottom_2_lj {
    width: 315px;
    height: 135px;
    float: left;
}
.body_left_bottom_2_zzsf {
    width: 315px;
    height: 135px;
    float: right;
}
.body_left_bottom_2 img {
    float: left;
    margin-right: 5px;
}
.body_left_bottom_2 dt {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}
.body_left_bottom_2 dd {
    width: 130px;
    height: 20px;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
}
.body_left_bottom_2 a {
    text-decoration: none;
    color: #4D4646;
}
.body_left_bottom_2 a:hover {
    text-decoration: underline;
}
.body_left_bottom_3 {
    width: 697px;
    height: 30px;
    background-image: url("../imgs/titleBg.jpg");
    background-repeat:repeat-x;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 20px;
}
.body_left_bottom_4_total {
    width: 637px;
    margin-bottom: 10px;
    padding:20px 40px 0;
}
.body_left_bottom_4_total_son1{
    width: 130px;
    font-size: 12px;
    float: left;
}
.body_left_bottom_4_total dt {
    width: 130px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}
.body_left_bottom_4_total dd {
    width: 130px;
    height: 20px;
}
.body_left_bottom_4_total_son2{
    height: 180px;
    width: 130px;
    font-size: 12px;
    margin-left: 39px;
    float: left;
}
.body_left_bottom_4 a {
    text-decoration: none;
    color: #4D4646;
}
.body_left_bottom_4 a:hover {
    text-decoration: underline;
}

.body_right {
    width: 268px;
    float: right;
}
.body_right_top {
    height: 212px;
    padding-left: 20px;
    background-color: #F3F3F3;
    padding-top: 20px;
    margin-bottom: 10px;
    border: 1px #CCCCCC solid;
}
.first_line {
    height: 30px;
    margin-bottom:20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    color: gray;
}
.second_line {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
}
.third_line {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
}
.fourth_line {
    width: 150px;
    margin: 0 auto;
}
.fourth_line .left {
    float: left;
    height: 50px;
    width:75px;
}
.fourth_line .left img {
    margin-top: 13px;
}
.fourth_line .right {
    float: left;
    font-size: 12px;
    height: 50px;
    width: 75px;
}
.zc,.forget {
    width: 75px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.fourth_line a {
    text-decoration: none;
    color: #2B62A5;
}
.fourth_line a:hover {
    text-decoration: underline;
}
.body_right_middle {
    border: 1px #CCCCCC solid;
    padding-bottom:10px;
    margin-bottom: 10px;
}
.body_right_middle .news {
    background-image: url("../imgs/titleBg.jpg");
    background-repeat:repeat-x;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    color: #7D0888;
    text-indent: 10px;
}
.body_right_middle .list li {
    height: 30px;
    font-size: 10px;
    list-style: none;
    line-height: 30px;
    color: #4D4646;
}
.li_border_1 {
    border-bottom: 1px #CCCCCC dashed;
}
.body_right_middle .list li img {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}
.body_right_middle a {
    text-decoration: none;
    color:black;
}
.body_right_middle a:hover {
    text-decoration: underline;
}

.body_right_bottom {
    border: 1px #CCCCCC solid;
}
.body_right_bottom img {
    float: left;
    margin-right: 10px;
}
.game_video {
    background-image: url("../imgs/titleBg.jpg");
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    color: #7D0888;
}
.hhw,.ddt {
    height: 85px;
    padding:10px 20px 10px 5px;
    font-size: 12px;
    float: left;
    width: 243px;
    line-height: 25px;
}
.ddt {
    border-top: 1px #CCCCCC dashed;
}
.body_right_bottom a {
text-decoration: none;
}
.body_right_bottom a:hover {
    text-decoration: underline;
}
.foot {
    width: 1000px;
    height: 50px;
    clear: both;
    margin:0 auto;
}
.foot .list {
    width: 400px;
    height: 50px;
    float: left;
}
.foot .list li {
    float: left;
    list-style: none;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    margin-right: 15px;
}
.foot .list li a {
    text-decoration: none;
}
.foot .list li a:hover{
    text-decoration: underline;
}
.foot .txt {
    width: 600px;
    float: right;
    height: 50px;
    font-size: 12px;
    text-align: right;
    line-height: 50px;
}
.txt span {
    font-size: 20px;
    position: relative;
    top: 4px;
}