* {
    margin: 0;
    padding: 0;
}
.top {
    width: 730px;
    height: 360px;
    margin: 0 auto;
    margin-top: 10px;
}
.top_left {
    width: 360px;
    height: 360px;
    margin: 0 auto;
    float: left;
    position: relative;
    left:0px;
    top: 0px;
}
.top_left_1 {
    height: 30px;
    width: 360px;
    background-image: url(../imgs/bg.gif);
    background-position: 3px 55px;
}
.span1 {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    position: relative;
    top:-1px;
    left:25px;
}
.span2 {
    font-size: 12px;
    line-height: 30px;
    position: relative;
    top:-1px;
    left:239px;
}
.span3 {
    font-size: 12px;
    line-height: 30px;
    position: relative;
    top:-1px;
    left:200px;
}
.span2 a {
    text-decoration: none;
    color: black;
}

.span2 a:hover {
    color: red;
}
.span3 a {
    text-decoration: none;
    color: black;
}
.span3 a:hover {
    color: red;
}
.top_left_2 {
    height: 320px;
    width: 360px;
    margin-top: 10px;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius:5px;
    border:1px gray solid;

}
.top_left_2_1 {
    height: 300px;
    width: 340px;
    position: relative;
    top:10px;
    left:10px;
}
.top_left_2_1 img {
    height: 125px;
    width: 340px;
}
h1 {
    position: relative;
    top: -185px;
    left: 10px;
    width:340px;
    height: 20px;
    background-color: black;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
h1 a{
    text-decoration: none;
    color: white;
}
h1 a:hover {
    color: red;
}
.top_left_ul_1 {
    list-style: none;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    left: 20px;
    top: -179px;
}
.span_color_red {
    color: red;
}
.span_position {
    position: relative;
    left:5px;
    top: 0px;
}
.line {
    width: 340px;
    height: 20px;
    border-bottom: 1px black dashed;
    position: relative;
    left:10px;
    top: -196px;
}
.top_left_ul_2 {
    list-style: none;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    left: 20px;
    top: -193px;
    font-size: 12px;
}
.top_left_ul_2 a:link {
    text-decoration:none;
}
.top_right {
    width: 360px;
    height: 360px;
    margin-left: 370px;
}
