*{
    margin:0;
    padding:0;
}
.cf {
    *zoom: 1;
}
.cf:hover {
    content: "";
    display: table;
    clear:both;
}
.top {
    height: 50px;
    width: 1000px;
    margin:0 auto;
    background-image: url("../imgs/menuBg.jpg");
    margin-bottom: 10px;
}
.kxw {
    float: left;
    width: 247px;
    height: 45px;
    padding-top:5px;
}
.btn {
    width: 100px;
    height: 40px;
    float: left;
    padding-top:10px;
    background-image: url("../imgs/btn-01.gif");
    position: relative;
    top:10px;
    left:0px;
    text-align: center;
    line-height: 20px;
}
.btn a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 14px;
}
.zc {
    float: right;
    width: 230px;
    height: 32px;
    text-align: center;
    font-size: 14px;
    padding-top: 18px;
}
.zc li {
    float: left;
    width: 50px;
    height: 14px;
    list-style: none;

}
.zc li a {
    text-decoration: none;
    color: white;
}
.zc li a:hover {
    text-decoration: underline;
}
.li_border {
    border-right: 1px white solid;
}
.list {
    height: 231px;
    width: 1000px;
    margin:0 auto;
    background-color: #0bb20c;
}
.list-left {
    width: 190px;
    height: 231px;
    float: left;
}
.list-left li {
    background-image: url("../imgs/gameBg1.jpg");
    width: 190px;
    height: 29px;
    list-style: none;
    font-size: 12px;
}
.list-left li span {
    position: relative;
    left:0;
    top:6px;
}
.list-left li a {
    text-decoration: none;
    color:black;
    display: block;
    height: 27px;
    width: 190px;
    padding-top: 2px;
    vertical-align: middle;
}
.list-left li a:hover {
    background-image: url("../imgs/gameBg2.jpg");
}
.list-left li img {
    margin:0 5px 0 10px;
}
.list-middle {
    width:517px;
    height: 231px;
    float: left;
    margin-left:10px;
}

.list-right {
    width: 273px;
    height: 231px;
    float: right;
    background-color: #F3F3F3;
}
.list-right p {
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}
.form1 {
    height: 50px;
    width: 180px;
    margin:0 auto;
    margin-top: 20px;
}
.form1_1 {
     height: 37px;
     width: 77px;
     float: left;
    padding: 13px 0 0 13px;
 }
.form1_2 {
    height: 50px;
    width: 90px;
    float: left;
}
.form1_2 a {
    text-decoration: none;
    color: #000;
}
.form1_2_1,.form1_2_2 {
    height: 25px;
    width: inherit;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
}
.foot {
    height: 660px;
    width: 1000px;
    background-color: #2b62a5;
    margin:10px auto;
}
.foot_left {
    width: 717px;
    height: 660px;
    background-color: burlywood;
    float: left;
}
.foot_left_1 {
    width: 717px;
    height: 28px;
    background-image: url("../imgs/titleBg.jpg");
}
dt {
    font-weight: bold;
    float: left;
    margin-right: 40px;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
dd {
    float: left;
    margin-right: 20px;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
dd a {
    color: red;
}
.foot_left_2 {
    width: 689px;
    height: 182px;
    background-color: red;
    padding-left: 28px;
    padding-top: 28px;
}
.foot_left_2_1 {
    width: 661px;
    height: 154px;
    background-color: blue;
}
.foot_left_2_1_1,.foot_left_2_1_2 {
    height: 100%;
    width: 288px;
    background-color: yellow;
    float: left;
    margin-left: 28px;
}







.foot_right {
    width: 273px;
    height: 660px;
    background-color: burlywood;
    float: right;
}

